@font-face {
    font-family: 'socicon';
    src: url('font/socicon-webfont.eot');
    src: url('font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/socicon-webfont.woff') format('woff'),
    url('font/socicon-webfont.ttf') format('truetype'),
    url('font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    text-align: center;
}

.SocialMediaIconsList
{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.SocialMediaIcon
{
    display: inline-block;
    font-family: 'socicon';
    width: 69px;
    height: 69px;
    line-height: 69px;
    border-radius: 40px;
}
    .SocialMediaIcon:hover
    {
        width: 75px;
        height: 75px;
        line-height: 75px;
    }

    li.SocialMediaIcon > a
    {
        color: #FFFFFF;
        font-size: 37px;
        text-decoration: none;
    }

        .SocialMediaIcon >a:hover
        {
            text-decoration: none;
            color: #ffffff;
        }

        .SocialMediaIcon > a:visited
        {
            color: #ffffff;
        }

    #Twitter
    {
        background-color: rgb(77, 167, 222);
    }

    #Facebook
    {
        background-color: rgb(62, 91, 152);
    }

    #Github
    {
        background-color: rgb(83, 128, 192);
    }

    #Linkedin
    {
        background-color: rgb(51, 113, 183);
    }